images_dir: "../datasets"
log_dir: "results/losses/"
sample_dir: "results/generated_samples/"
save_dir: "results/models/"

img_dims:
  - 128
  - 128

use_eql: True
depth: 6
latent_size: 512
learning_rate: 0.001
beta_1: 0
beta_2: 0.99
eps: 0.00000001
drift: 0.001
n_critic: 1
use_ema: True
ema_decay: 0.999

epochs:
  - 4
  - 8
  - 8
  - 8
  - 8
  - 8

fade_in_percentage:
  - 50
  - 50
  - 50
  - 50
  - 50
  - 50

batch_sizes:
  - 512
  - 256
  - 128
  - 64
  - 32
  - 32

loss_function: "wgan-gp"  

num_samples: 36
num_workers: 3
feedback_factor: 100 
checkpoint_factor: 2
